*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 20%);
    --color-darkGrey: hsl(0, 0%, 12%);
    --color-offBlack: hsl(0, 0%, 8%);
}

body {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: var(--color-white);
    background-color: var(--color-offBlack);
    margin: 0;
}

main {
    background-color: var(--color-darkGrey);
    width: 23%;
    height: 77%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
}


#image {
    border-radius: 50%;
    width: 42%;
    margin-bottom: 25px;
}

#name {
    font-size: 24px;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 8px;
}

#location {
    font-weight: 600;
    color: var(--color-green);
    margin-bottom: 25px;
}

p {
    font-family: sans-serif;
    margin-block: 15px;
}


button {
    background-color: var(--color-grey);
    color: var(--color-white);
    font-family: Inter, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    width: 92%;
    margin-block: 8px;
    padding: 12px; 
}

button:hover {
    cursor: pointer;
    background-color: var(--color-green);
    color: var(--color-darkGrey);
}

@media (max-width: 500px) {
    main {
        width: 300px;
        height: 77%;
        padding: 10px 25px;
    }
    button {
        padding: 10px;
    }
}

